{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <div style="margin-top: 5rem">
        <h1>Create new Users</h1>

        {{ include('users/_form.html.twig') }}

        <a href="{{ path('users_index') }}"><input type="submit" value="Revenir au utilisateurs"></a>
    </div>
{% endblock %}
