{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <div style="margin-top: 5rem" class="container">
        <h1>Create new Users</h1>

        {{ include('users/_form.html.twig') }}

    </div>
{% endblock %}
